@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

.brand-logo {
    font-weight: 100;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

.main-container {
    padding-bottom: 100px;
}