.collapsible {
    width: 104.3%;
    margin-left: -16px;
    border-bottom: none;
}

.problemId-wrapper {
    padding: 1rem;
    padding-right: 0;
}

.problemId-wrapper li {
    width: 6.7%;
    display: inline-block;
    font-weight: bold;
}

.accepted-stat {
    font-size: 1.4rem;
}

.accepted-stat h5 {
    color: grey;
}

.total-code-length, .total-memory, .total-time, .max-accepted-date {
    font-weight: bold;
}

.rainbow {
    /* source code from https://codepen.io/nohoid/pen/kIfto */
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 5s ease infinite;
    -o-animation: rainbow 5s ease infinite;
      animation: rainbow 5s ease infinite;}

    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
}