<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'base.css') }}" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    {% block js %}
    {% endblock %}
    <title>acmicpc.cc</title>
</head>
<body>
<nav>
    <div class="nav-wrapper green lighten-1">
        <a class="brand-logo center" href="/">ACMICPC.CC</a>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="page-footer green darken-1">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Moon all rights reserved.
            <a class="grey-text text-lighten-4 right" href="https://github.com/MoonHyuk/acmicpc.cc">GitHub</a>
        </div>
    </div>
</footer>
</body>
</html>