{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename = 'index.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        function removeWhitespaces() {
            var str = $('input').val();
            str = str.replace(/\s/g, '');
            $('input').val(str)
        }
        $(function () {
            // disable whitespaces in input
            $('input').on('keyup keypress' , function () {
                removeWhitespaces();
            });
            $('div.btn-large').click(function () {
                removeWhitespaces();
                $('form').submit();
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row main center-align">
        <form class="offset-s2 offset-m3 col s8 m6" action="/user" method="get" autocomplete="off">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="autocomplete-input" class="autocomplete" name="id" value="{{ id }}" required>
                    <label for="autocomplete-input">사용자 아이디</label>
                    {% if err %}
                        <div class="pink-text text-darken-3 animated wobble">BOJ에 등록되어있지 않은 사용자입니다.</div>
                    {% endif %}
                </div>
            </div>
            <div class="btn-large waves-effect waves-light pink lighten-2 flow-text">전적 검색하기</div>
        </form>
    </div>
    <div class="row center-align">
        크흠..게을러서 죄송합니다. 천천히 혁신적인 기능들을 추가할 예정이니 기대해주세요.<br>
        비판, 개선사항, 기능추가 등의 모든 문의는 godmoon00@naver.com으로 자유롭게 보내주시기 바랍니다.<br>
        사이트가 마음에 드신다면 <a href="https://github.com/MoonHyuk/acmicpc.cc">깃헙</a>에 가셔서 스타를 눌러주시면 감사하겠습니다.
    </div>
{% endblock %}
