{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script>
        $(function () {
            var newbie=[], pupil=[], special=[], expert=[], candidate=[], master=[], iMaster=[], gMaster=[], igMaster=[], lgMaster=[];

            {% for temp_data in data_list %}
                var new_data = {x : {{ temp_data[0] }}, y : {{ temp_data[1] }} };
                {% if temp_data[1] >= '2900' %}
                    lgMaster.push(new_data);
                {% elif temp_data[1] < '2900' and temp_data[1] >= '2600' %}
                    igMaster.push(new_data);
                {% elif temp_data[1] < '2600' and temp_data[1] >= '2400' %}
                    gMaster.push(new_data);
                {% elif temp_data[1] < '2400' and temp_data[1] >= '2300' %}
                    iMaster.push(new_data);
                {% elif temp_data[1] < '2300' and temp_data[1] >= '2200' %}
                    master.push(new_data);
                {% elif temp_data[1] < '2200' and temp_data[1] >= '1900' %}
                    candidate.push(new_data);
                {% elif temp_data[1] < '1900' and temp_data[1] >= '1600' %}
                    expert.push(new_data);
                {% elif temp_data[1] < '1600' and temp_data[1] >= '1400' %}
                    special.push(new_data);
                {% elif temp_data[1] < '1400' and temp_data[1] >= '1200' %}
                    pupil.push(new_data);
                {% else %}
                    newbie.push(new_data);
                {% endif %}
            {% endfor %}

            var ctx = document.getElementById("chart").getContext("2d");
            window.myScatter = Chart.Scatter(ctx, {
                data: {
                    datasets: [
                        {
                            data: lgMaster,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(170, 0, 0, 0.7)',
                            fill: false,
                        },
                        {
                            data: igMaster,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 51, 51, 0.7)',
                            fill: false,
                        },
                        {
                            data: gMaster,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 119, 119, 0.7)',
                            fill: false,
                        },
                        {
                            data: iMaster,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 187, 85, 0.7)',
                            fill: false,
                        },
                        {
                            data: master,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 204, 136, 0.7)',
                            fill: false,
                        },
                        {
                            data: candidate,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(255, 136, 255, 0.7)',
                            fill: false,
                        },
                        {
                            data: expert,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(170, 170, 255, 0.7)',
                            fill: false,
                        },
                        {
                            data: special,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(119, 221, 187, 0.7)',
                            fill: false,
                        },
                        {
                            data: pupil,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(119, 255, 119, 0.7)',
                            fill: false,
                        },
                        {
                            data: newbie,
                            borderColor: 'rgba(0, 0, 0, 0)',
                            borderWidth: 0,
                            backgroundColor: 'rgba(204, 204, 204, 0.7)',
                            fill: false,
                        }

                    ]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '푼 문제 수'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'codeforce rating'
                            }
                        }]

                    }
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
    <h4 class="pink-text text-accent-2">백준 온라인 저지에서 푼 문제 수와 codeforce rating 간 관계</h4>
    <div class="chart-container" style="position: relative; width:100%;">
        <canvas id="chart"></canvas>
    </div>
{% endblock %}