{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename = 'user.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ko.js"></script>
    {% if not updated %}
        <script>
            $(function () {
                $.ajax({
                    url: "/update_user",
                    type: "GET",
                    data: {
                        id: "{{ user.boj_id }}"
                    },
                    success: function () {
                        location.reload();
                    },
                    error: function () {

                    }
                })
            })
        </script>
    {% else %}
        <script>
            moment.locale('ko');

            function zeros(dimensions) {
                var array = [];

                for (var i = 0; i < dimensions[0]; ++i) {
                    array.push(dimensions.length == 1 ? 0 : zeros(dimensions.slice(1)));
                }

                return array;
            }

            $(function () {
                var submitData = zeros([8, 14]);
                {% for submit in submissions %}
                    var result = parseInt({{ submit.result }}) - 4;
                    var submitDate = "{{ submit.datetime }}".split(" ")[0];
                    submitDate = moment(submitDate);
                    var dateIndex = 13 - moment().diff(submitDate, 'days');
                    if (result >= 0 && dateIndex >= 0) {
                        var problemId = parseInt({{ submit.problem_id }});
                        var problemName = "{{ submit.problem_name }}";
                        var problemColor = result === 0 ? "green-text" : "red-text"
                        $('.problemId-wrapper li')[dateIndex].innerHTML += ("<a href='https://www.acmicpc.net/problem/"
                            + problemId + "' class='tooltipped " + problemColor + "' target='_blank' " +
                            "data-position='right' data-delay='50' data-tooltip='" + problemName + "'>"
                            + problemId + "</a>" + "<br>");
                        submitData[result][dateIndex]++;
                    }
                {% endfor %}
                var dates = [];
                for (var i = 13; i >= 0; i--) {
                    dates.push(moment().subtract(i, 'days').format("M/D"));
                }

                var legendConfig = window.innerWidth > 490;

                var config = {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: "맞았습니다!!",
                            backgroundColor: "#3366cc",
                            borderColor: "#3366cc",
                            data: submitData[0],
                            fill: false
                        }, {
                            label: "출력 형식",
                            fill: false,
                            backgroundColor: "#dc3912",
                            borderColor: "#dc3912",
                            data: submitData[1]
                        }, {
                            label: "틀렸습니다",
                            fill: false,
                            backgroundColor: "#ff9900",
                            borderColor: "#ff9900",
                            data: submitData[2]
                        }, {
                            label: "시간 초과",
                            fill: false,
                            backgroundColor: "#109618",
                            borderColor: "#109618",
                            data: submitData[3]
                        }, {
                            label: "메모리 초과",
                            fill: false,
                            backgroundColor: "#990099",
                            borderColor: "#990099",
                            data: submitData[4]
                        }, {
                            label: "출력 초과",
                            fill: false,
                            backgroundColor: "#0099c6",
                            borderColor: "#0099c6",
                            data: submitData[5]
                        }, {
                            label: "런타임 에러",
                            fill: false,
                            backgroundColor: "#dd4477",
                            borderColor: "#dd4477",
                            data: submitData[6]
                        }, {
                            label: "컴파일 에러",
                            fill: false,
                            backgroundColor: "#66aa00",
                            borderColor: "#66aa00",
                            data: submitData[7]
                        }]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        legend: {
                            display: legendConfig
                        },
                    }
                };

                var ctx = document.getElementById("chart-recent").getContext("2d");
                window.myLine = new Chart(ctx, config);

                ///////////////////////Tooltip/////////////////////////
                $('.tooltipped').tooltip({delay: 50});
                ///////////////////////timer///////////////////////////
                var intervalId = setInterval(function () {
                    var utcNow = moment.utc();
                    var updateTime = moment.utc("{{ user.update_time }}");
                    var waitingSec = 600 - utcNow.diff(updateTime, "seconds");
                    var timerSpan = $('.timer');
                    if (waitingSec <= 0) {
                        timerSpan.css("cursor", "pointer").addClass("red-text").text("갱신 가능").click(function () {
                            location.reload();
                        });
                        clearInterval(intervalId);
                    }
                    else {
                        var displayMin = parseInt(waitingSec / 60);
                        var displaySec = waitingSec % 60;
                        timerSpan.text(displayMin.toString() + "분 " + displaySec.toString() + "초 후");
                    }
                }, 1000);

                ////////////////accepted_submissions////////////////////
                {% if accepted_submissions | length %}
                    function getDates(startDate, stopDate) {
                        var dateArray = [];
                        var currentDate = startDate;
                        while (stopDate.diff(currentDate, 'days')) {
                            dateArray.push(currentDate.format("Y/M/D"));
                            currentDate = currentDate.add(1, 'day');
                        }
                        return dateArray;
                    }

                    var startDate = moment("{{ accepted_submissions[0].datetime }}".split(" ")[0]);
                    var stopDate = moment();
                    var acceptedChartDates = getDates(startDate, stopDate);

                    var acceptedNum = [];
                    var acceptedStat = [0, 0, 0, [0, ""]];
                    var acceptedDateLn = acceptedChartDates.length;
                    for (i = 0; i < acceptedDateLn; i++) {
                        acceptedNum.push(0);
                    }
                    {% for accepted_submit in accepted_submissions %}
                        var acceptedSubmitDate = moment("{{ accepted_submit.datetime }}".split(" ")[0]);
                        acceptedNum[acceptedSubmitDate.diff(moment(), 'days') + acceptedDateLn]++;
                        acceptedStat[0] += {{ accepted_submit.code_length | int }};
                        acceptedStat[1] += {{ accepted_submit.memory | int }};
                        acceptedStat[2] += {{ accepted_submit.time | int }};
                    {% endfor %}
                    var temp = 0;
                    for (i = 0; i < acceptedDateLn; i++) {
                        if (acceptedStat[3][0] < acceptedNum[i]) {
                            acceptedStat[3][0] = acceptedNum[i];
                            acceptedStat[3][1] = acceptedChartDates[i];
                        }
                        temp += acceptedNum[i];
                        acceptedNum[i] = temp;
                    }

                    $('.total-code-length').text(acceptedStat[0]);
                    $('.total-memory').text(acceptedStat[1]);
                    $('.total-time').text(acceptedStat[2]);
                    $('.max-accepted-date').text(acceptedStat[3][1].replace('/', '년 ').replace('/', '월 ') + '일');
                    $('.max-accepted-num').text(acceptedStat[3][0]);

                    var accConfig = {
                        type: 'line',
                        data: {
                            labels: acceptedChartDates,
                            datasets: [{
                                    label: "푼 문제 수 (누적)",
                                    data: acceptedNum,
                                    borderColor: "rgba(0, 0, 0, 0)",
                                    backgroundColor: "rgba(24, 173, 33, 0.3)",
                                    pointRadius: 0,
                                    borderWidth: 0,
                                }]
                        },
                        options: {
                            tooltips: {
                                intersect: false
                            },
                            elements: {
                                line: {
                                    tension: 0
                                }
                            }
                        }
                    };

                    var accCtx = document.getElementById("chart-accepted").getContext("2d");
                    window.myLine = new Chart(accCtx, accConfig);
                {% endif %}

                ////////////////////ranking////////////////////////
                {% if ranking_date | length %}
                    var ranking_date = {{ ranking_date|safe }};
                    var boj_rank = {{ boj_rank|safe }};
                    var koo_rank = {{ koo_rank|safe }};

                    var rankConfig = {
                        type: 'line',
                        data: {
                            labels: ranking_date,
                            datasets: [{
                                label: "백준",
                                data: boj_rank,
                                fill: false,
                                backgroundColor: "#dd4477",
                                borderColor: "#dd4477"
                            }, {
                                label: "koosa.ga",
                                data: koo_rank,
                                fill: false,
                                backgroundColor: "#990099",
                                borderColor: "#990099"
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        //suggestedMin: 0,
                                        //suggestedMax: 10000
                                        reverse: true
                                    }
                                }]
                            },
                            elements: {
                                line: {
                                    tension: 0
                                }
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false
                            }
                        }
                    };

                    var rankCtx = document.getElementById("chart-ranking").getContext("2d");
                    window.myLine = new Chart(rankCtx, rankConfig);
                {% endif %}
            })
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    {% if not updated %}
        <div class="preload center" style="position:absolute; left: 50%; margin-left: -65px; top: 42%;">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="grey-text">정보를 갱신중입니다</div>
        </div>

    {% else %}
        <div class="row">
            <div class="col s12 pink-text">
                <h3>{{ user.boj_id }}</h3>
                <blockquote>{{ user.intro }}</blockquote>
            </div>
        </div>
        <div class="row">
            {% include "chips.html" %}
        </div>
        <hr>

        <h4 style="display: inline-block">최근 2주일 제출 통계</h4>
        <div class="right-align grey-text" style="float: right">
            최근 전적 갱신시간: {{ user.update_time.strftime('%Y-%m-%d %H:%M') }} (UTC) <br>
            (다음 갱신 가능 시간: <span class="timer"></span>)
        </div>

        <div class="chart-container" style="position: relative; width:100%;">
            <canvas id="chart-recent"></canvas>
        </div>

        <ul class="collapsible hide-on-med-and-down" data-collapsible="accordion">
            <li>
                <div class="collapsible-header center-align green-text">문제 번호 보기</div>
                <ul class="collapsible-body problemId-wrapper center-align">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>

        <h4 style="margin-top: 56px;">Accepted! History</h4>
        {% if accepted_submissions | length %}
            <div class="chart-container" style="position: relative; width:100%;">
                <canvas id="chart-accepted"></canvas>
            </div>

            <div class="row center-align accepted-stat">
                <div class="col s6 m3">
                    <h5>총 코드 길이</h5>
                    <span class="total-code-length pink-text"></span> 바이트
                </div>
                <div class="col s6 m3">
                    <h5>총 메모리</h5>
                    <span class="total-memory pink-text"></span> 킬로바이트
                </div>
                <div class="col s6 m3">
                    <h5>총 수행 시간</h5>
                    <span class="total-time pink-text"></span> ms
                </div>
                <div class="col s6 m3">
                    <h5>가장 많은 문제를 푼 날</h5>
                    <span class="max-accepted-date pink-text"></span>
                    (<span class="max-accepted-num pink-text"></span>개)
                </div>
            </div>
        {% else %}
            저희 사이트에 처음 오셨군요! 내일부터 푼 문제수 그래프를 보실 수 있습니다.
        {% endif %}

        <h4 style="margin-top: 56px;">Ranking History</h4>
        {% if ranking_date | length %}
            <div class="chart-container" style="position: relative; width:100%;">
                <canvas id="chart-ranking"></canvas>
            </div>
        {% else %}
            20문제 이상 풀어야지 랭킹이 보입니다.
        {% endif %}
    {% endif %}
{% endblock %}